<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.feedhenry.fhandroidexampleapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="3"
    />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".FHAndroidExampleActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".FHActActivity"></activity>
        <activity android:name=".FHAuthActivity"></activity>
        <activity android:name=".FHLoginActivity"></activity>
        <activity android:name=".FHSyncActivity"></activity>
        <activity android:name=".ItemDetailsActivity"></activity>
        <activity android:name=".SyncCollisionsListActivity"></activity>
        <activity android:name=".SyncCollisionResolveActivity"></activity>
        <activity android:name="com.feedhenry.sdk.oauth.FHOAuthIntent"></activity>
    </application>

</manifest>