## Android SDK

sdk/bin/*
example/bin/*
example/gen/*
example/assets/fhconfig.local.properties
sdk/local.properties
sdk/dist/*.MF
sdk/build/*
sdk/build.num
**/gen/*
sdk/.settings/*
FHStarterProject/bin/*
FHStarterProject/gen/*
*android-support-*.jar
FHStarterProject/.settings/
fh-android-sdk-test/gen-external-apklibs/*
build/*
.gradle/*

## Maven

*/target/*

## NetBeans
nb-configuration.xml
.nb-gradle/*

## IntelliJ
*.iml

#gradle
build/*
.gradle/*
local.properties

## Misc 
.project
.settings/*
.vscode/*

