<!--

    Copyright (c) 2015 FeedHenry Ltd, All Rights Reserved.

    Please refer to your contract with FeedHenry for the software license agreement.
    If you do not have a contract, you do not have a license to use this software.

-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.feedhenry.sdk.tests"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="3"
    />
    <uses-permission android:name="android.permission.INTERNET"/>
    <instrumentation android:targetPackage="com.feedhenry.sdk.tests" android:name="android.test.InstrumentationTestRunner"></instrumentation>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <uses-library android:name="android.test.runner"/>
        
        <activity
            android:name="com.feedhenry.sdk.tests.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>	
        </activity>
        
    </application>

</manifest>